/* General styles */

.container {
  border-radius: 20px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
}

body {
  background-image: linear-gradient(to bottom, rgba(1, 1, 70, 0.5), rgba(255, 255, 255, 0.3)),url(images/sitebkgd.jpg);
}

@media (max-width: 991px) {
  body {
    background-image: none;
  }

  .container {
    padding: 30px;
  }
}

i {
  color: indigo;
  font-size: 24px;
}

hr {
  border: 1px inset rgba(27, 109, 45, 0.5);
}

/* nav */

@media (max-width: 767px) {
  .navname {
    display: none;
  }
}

/* hero */

.heroimg {
  display: flex;
  background-color: indigo;
  border-radius: 50%;
  margin: 0 auto;
}

.herobtn {
  background-color: rgba(27, 109, 45);
  color: #fff;
  font-weight: 600;
}

@media (max-width: 767px) {
  .herotitle {
    text-align: center;
  }
}

/* projects */

@media (max-width: 767px) {
  .projorder {
    display: flex;
  }

/*   .projorder img {
    margin-right: 20px;
  } */

  .projdir {
    flex-direction: column;
    margin-left: 20px;
  }
}

/* testimonials */

.testspc {
  padding: 0 30px;
}

.testartcl {
  border: 1px inset rgba(27, 109, 45);
  border-radius: 10px;
  justify-content: space-between;
  height: 250px;
}

.testimg {
  width: 100px;
  border-radius: 50px;
  margin-top: -25px;
  margin-left: -25px;
}

.testtext {
  padding: 0 15px;
}

.testtxt2 {
  font-style: italic;
}

@media (max-width: 991px) {
  .testartcl {
    height: 350px;
  }
}

@media (max-width: 767px) {
  .testspc {
    padding-bottom: 50px;
  }

  .testartcl {
    height: 275px;
  }

}

/* fun facts */

.funspc {
  text-align: center;
  vertical-align: middle;
  border: 1px solid gray;
  border-radius: 10px;
  height: 200px;
  margin: 0 auto;
}

.funspc i {
  font-size: 36px;
}

.funspc p {
  font-size: 40px;
  color: gray;
}

/* footer */

footer {
  margin: 0 -15px;
  height: 50px;
}

.footsocial {
  padding-left: 30px;
  font-size: 20px;
}

.footcopy {
  padding-right: 30px;
  text-align: right;
}

@media (max-width: 767px) {
  footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100px;
  }

  .footsocial, .footcopy {
    text-align: center;
  }
}